<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1-6</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- v-show與v-if -->
    <div id="test01" class="box">
        <p><input type="checkbox" v-model="isShow">開箱否:{{isShow}}</p>
        <div>
            <div v-if="isShow" class="mini_box">v-if</div>
            <div v-show="isShow" class="mini_box">v-show</div>
        </div>

        <p>計數:{{count}}</p>
        <button @click="count++">加加</button>
        <button @click="count = 0">清除</button>

        <div v-if="count === 0 " class="mini_box">{{count}}</div>
        <div v-else-if="count < 6 " class="mini_box" style="background-color: aqua;">{{count}}</div>
        <div v-else class="mini_box" style="background-color: black;">{{count}}</div>


    </div>
    <!-- show只是隱藏物件display:none,if則是把整個div消除 -->

    <div id="test02" class="box">
        <p>
            請選擇要顯示的內容: 
            <input type="radio" v-model="check_box" id="one" value="1">
            <label for="one">內容A</label>
            <input type="radio" v-model="check_box" id="two" value="2">
            <label for="two">內容B</label>

        </p>

        <!-- v-if -->
        <template v-if="check_box === '1' ">
            <h3>這是內容A</h3>
            <div class="mini_box"></div>
            <p>這是一個正方形</p>
            <input type="text" v-model="contentA">
        </template>

        <template v-else>
            <h3>這是內容B</h3>
            <div class="mini_box2"></div>
            <p>這也是一個正方形</p>
            <input type="text" v-model="contentB">
        </template>
        <!-- v-if需使用template -->

        <!-- v-show -->
        <hr>
        <div v-show="check_box === '1' ">
            <h3>這是內容A</h3>
            <div class="mini_box"></div>
            <p>這是一個正方形</p>
            <input type="text">
        </div>

        <div v-show="check_box === '2' ">
            <h3>這是內容B</h3>
            <div class="mini_box2"></div>
            <p>這也是一個正方形</p>
            <input type="text">
        </div>
        <hr>
        <!-- show需使用div -->

        <!-- v-for -->
        <h3>for迴圈</h3>
        
        <p>陣列</p>
        <ul>
            <li v-for="fruit in fruits">{{ fruit }}</li>
        </ul>
        <ul>
            <li v-for="(item, index) in fruits">{{ index + 1 }} - {{ item }}</li>
        </ul>
        
        <p>物件</p>
        <ul>
            <li v-for="(key, profile) in profiles">{{ key }} : {{ profile }}</li>
        </ul>

        <p>迴圈範例</p>
        <ul id="pagination">
            <li class="page_item"><a @click.prevent href="#">&lt;</a></li>
            <li class="page_item" v-for="page in 8"><a href="#">{{ page }}</a></li>
            <li class="page_item"><a @click.prevent href="#">&gt;</a></li>
        </ul>

        <p>排序</p>
        <ul style="display: block; overflow: hidden;">
            <li class="page_item" v-for="num in sortNumbers">{{ num }}</li>
        </ul>
        <ul style="display: block; overflow: hidden;">
            <li class="page_item" v-for="num in sortB2S">{{ num }}</li>
        </ul>
        <hr>

        <!-- Todo -->
        <h3>Todo</h3>
        <ul>
            <li v-for="(thing, index) in todoList" :key="thing.id">
                <label><input type="checkbox" v-model="thing.isDone">{{ index + 1 }} - {{ thing.title }}</label>
            </li>
        </ul>

        <!-- Done -->
        <h3>Done</h3>
        <ul>
            <li v-for="(thing, index) in doneList" :key="thing.id">
                <label><input type="checkbox" v-model="thing.isDone">{{ index + 1 }} - {{ thing.title }}</label>
            </li>
        </ul>
        <!-- v-for裡面可以放函式!! -->
        
    </div>


    <!-- Vue 3.x -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/1-6 條件判斷與列表渲染.js"></script>
</body>
</html>