<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <!-- 1-1 -->
    <div id="app" class="box">
        {{price}}
        <br>
        <!-- %{price}% 如果後端也用到{{}}則可以用%{}%替代-->
        {{quantity}}
        <br>
        {{price * quantity}}
        <br>
        {{name}}

    </div>

    <!-- 1-2 -->

    <div id="vm1" class="box">
        Vm1 : <input type="text" v-model="name2">
    </div>

    <div id="vm2" class="box">
        Vm2 : <input type="text" v-model="name2">
    </div>

    <div id="app2" class="box"></div>

    <!-- 1-3 -->

    <div id="app3" class="box">
       <p>{{subtotalMethods()}}</p> 
       <p>{{subtotalMethods()}}</p> 
       <p>{{subtotalMethods()}}</p> 
       <p>{{subtotalComputed}}</p> 
       <p>{{subtotalComputed}}</p> 
       <p>{{subtotalComputed}}</p> 
       <p>{{message}}</p>
    </div>

    <!-- 單位換算 -->

    <div id="goldChange" class="box">
        <p>1g 黃金 = 1711台幣</p>
        <div>黃金<input type="text" v-model="gram" v-on:input="gramTotwd">g</div>
        <div>台幣<input type="text" v-model="twd" v-on:input="twdTogram">元</div>
    </div>

    <div id="temperature" class="box">
        <p>攝氏0 <sup>o</sup>C = 華氏32 <sup>o</sup>F</p>
        <div>攝氏<input type="text" v-model="celsius" v-on:input="c2f"></div>
        <div>華氏<input type="text" v-model="fahrenheit" v-on:input="f2c"></div>
    </div>

    <div id="dollarChange" class="box">
        <p>1 台幣 = 3.71日幣,0.04美元,0.56埃及鎊</p>
        <div>台幣<input type="text" v-model="twd">元</div>
        <div>美金<input type="text" v-model="usa">元</div>
        <div>埃及磅<input type="text" v-model="egp">元</div>
        <div>日幣<input type="text" v-model="jpy">元</div>
    </div>

    <!-- 1-4 -->

    <div id="test4" class="box">
        <p v-bind:id="takeID">{{takeID}}</p>
    </div>

    <div id="test4_1" class="box">
        <button v-bind:disable="isBtndisable">這是按鈕</button>
    </div>

    <div id="test4_2" class="box">
        <br>
        <input type="text" v-model="message" placeholder="輸入地方在這">
        <p>你輸入的內容為: {{message}}</p>
        <br>
        <textarea name="" id="" cols="30" rows="10" placeholder="請打這兒~" v-model="message2"></textarea>
        <p>這是你在textarea打的內容: {{message2}}</p>
    </div>

    <div id="test4_3" class="box">
        <input type="radio" v-model="check_box" value="1" id="one">
        <label for="one">one</label>
        <input type="radio" v-model="check_box" value="2" id="two">
        <label for="two">two</label>
        <p>你選到{{check_box}}</p>
    </div>

    <div id="test4_4" class="box">
        <input type="checkbox" id="apple" value="apple" v-model="check_fruits">
        <label for="apple">apple</label>
        <input type="checkbox" id="banana" value="banana" v-model="check_fruits">
        <label for="banana">banana</label>
        <input type="checkbox" id="cherry" value="cherry" v-model="check_fruits">
        <label for="cherry">cherry</label>
        <input type="checkbox" id="watermelon" value="watermelon" v-model="check_fruits">
        <label for="watermelon">watermelon</label>
        <input type="checkbox" id="pineapple" value="pineapple" v-model="check_fruits">
        <label for="pineapple">pineapple</label>

        <p>選擇你要吃的 {{check_fruits}}</p>

    </div>

    <div id="test4_5" class="box">
        <select v-model="seleteds" id="">
            <option disabled value="">請選擇</option>
            <option value="apple">apple</option>
            <option value="water">water</option>
            <option value="coke">cola</option>
            <option value="chocolate">goodgoodeat</option>
        </select>

        <p>你選了{{seleteds}}</p>
    </div>

    <div id="test4_6" class="box">
        <input type="text" v-model.lazy="blurtext" placeholder="請在這裡輸入" id="blur_affactive">
        <br>    
        <label for="blur_affactive">你輸入的是{{blurtext}}</label>
        <p>
        <input v-model.number="number1"> + <input v-model.number="number2"> = {{sum}}
        </p>
    </div>
    
    <!-- 模板綁定  - v-text / v-html / v-once / v-pre -->
    <div id="test4_7" class="box">
        <input type="text" v-model="message">

        <div v-text="message"></div><br>
        <div>{{message}}這是ABC</div><br>
        <div v-once>{{message}}</div>
        <div v-pre>{{message}}</div>

        <div v-html="vhtml"></div>
        <div>{{vhtml}}</div>
    </div>

    <!-- 樣式綁定 -->
    <div id="test4_8" class="box">
        <p>
            <input type="text" v-model.trim="message" v-bind:class="{'warn' : message.length > 10}">
        </p>
    </div>

    <div id="test4_9" class="box">
        <p>請輸入:<input type="text" v-model="message" placeholder="請勿小於3個字" v-bind:style="specialStyle"></p>
    </div>

    <!-- Vue 3.x -->
    <script src="https://unpkg.com/vue@next"></script>

    <script src="js/style.js"></script>
</body>
</html>